<%= link_to edit_profile_path(:section => 'profilepictureandname'),
            class: 'profile-details profile-picture-and-name container-editable' do %>
  <%= image_tag @profile.profile_picture.url(:small), class: 'profile-picture' %>
  <h1 class="name"><%= @profile.full_name %></h1>
  <span class="edit button primary large right">Edit</span>
<% end %>

<h2>General information</h2>
<%= link_to edit_profile_path(:section => 'generalinformation'), class: 'profile-details general-information container-editable no-results' do %>
  <% if @profile.general_information_added? %>
    <%= @profile.birth_date %>
    <%= @profile.country %>
    <%= @profile.city %>
    <%= @profile.nationality %>
  <% else %>
    <span class="message">No general information</span>
    <span class="hint">Click to edit</span>
  <% end %>

  <span class="edit button primary large right">Edit</span>
<% end %>

<h2>IT skills</h2>
<div class="profile-details it-skills container no-results">
  <span class="message">No IT skills</span>
  <span class="hint">Update your experience and this will be generated automatically</span>
</div>

<h2>Language skills</h2>
<div class="profile-details language-skills container no-results">
  <span class="message">No language skills</span>
  <span class="hint">Update your experience experience and this will be generated automatically</span>
</div>

<h2>Education</h2>
<%= link_to edit_profile_path(:section => 'experience'),
            class: 'profile-details experience container-editable no-results' do %>
  <span class="message">No education</span>
  <span class="hint">Click to edit</span>
  <span class="edit button primary large right">Edit</span>
<% end %>

<h2>Work experience</h2>
<%= link_to edit_profile_path(:section => 'experience'),
            class: 'profile-details experience container-editable no-results' do %>
  <span class="message">No work experience</span>
  <span class="hint">Click to edit</span>
  <span class="edit button primary large right">Edit</span>
<% end %>

<h2>Interests</h2>
<%= link_to profile_interests_path(@profile.id), class: 'profile-details interests container-editable no-results' do %>
  <% if @profile.interests.any? %>
    <%= @profile.interests.map(&:name).join(', ') %>
  <% else %>
    <span class="message">No interests</span>
    <span class="hint">Click to edit</span>
  <% end %>

  <span class="edit button primary large right">Edit</span>
<% end %>

<h2>Contacts</h2>
<%= link_to profile_contacts_path(@profile.id), class: 'profile-details contacts container-editable no-results' do %>
  <% if @profile.contacts.any? %>
    <%= @profile.contacts.map(&:address).join(', ') %>
  <% else %>
    <span class="message">No contacts</span>
    <span class="hint">Click to edit</span>
  <% end %>

  <span class="edit button primary large right">Edit</span>
<% end %>