<h3>Add new employment</h3>

<%= form_for [current_user.profile, @employment] do |f| %>

  <%= f.fields_for :company do |pf| %>
    <%= pf.label      :website, 'Company website' %>
    <%= pf.text_field :website %>
    <br/><br/>
  <% end %>

  <%= f.label :position, 'Position' %>
  <%= f.text_field :position %>

  <br/><br/>
  <%= f.label       :from_date %>
  <%= f.date_select :from_date, order: [:month, :year], :use_month_numbers => true, :discard_day => true,
                    include_blank: true,
                    start_year: Time.now.year, end_year: Time.now.year - 50 %>

  <br/><br/>
  <%= f.label       :to_date %>
  <%= f.date_select :to_date, order: [:month, :year], :use_month_numbers => true, :discard_day => true,
                    include_blank: true,
                    start_year: Time.now.year, end_year: Time.now.year - 50 %>

  <br/><br/>

  <%= f.submit 'Add', class: 'button primary' %>
  <%= link_to 'Cancel', profile_work_experiences_path, class: 'button' %>
  <br/><br/>

<% end %>