<h1><%= user.name %> <%= user.surname %></h1>

<% if has_general_information_for?(user) %>
  <h2>General information</h2>
  <ul>
    <li>
      <span>Age</span>
      <span><%= user.birthdate %></span>
    </li>
    <li>
      <span>Gender</span>
      <span><%= user.gender %></span>
    </li>
    <li>
      <span>Location</span>
      <span><%= user.city %>, <%= user.country %></span>
    </li>
    <li>
      <span>Nationality</span>
      <span><%= user.nationality %></span>
    </li>
  </ul>
<% end %>