<div class="container">
  <h1>Edit contacts</h1>

  <% if @contacts.any? %>
    <h2>Contacts</h2>

    <% @contacts.each do |contact| %>
      <div>
        <%= contact.address %>
        <%= form_for contact, url: profile_contact_path(contact), method: 'delete', html: { class: 'form' } do |f| %>
          <%= f.submit 'Delete', class: 'button small' %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <h2>Add new contact</h2>

  <%= form_for @contact, url: profile_contacts_path(@contact), html: { class: 'form' } do |f| %>

    <%= f.select     :contact_type, options_for_select(Contact.types) %>
    <%= f.text_field :address %>

    <%= f.submit 'Add', class: 'button' %>

  <% end %>

  <br/>
  <%= link_to 'Done', profile_edit_path, class: 'button primary' %>
</div>