<ul>
  <% @employments.each do |employment| %>
    <li>
      <%= employment %>
      <ul>
        <% employment.company.projects.each do |project| %>
          <li>
            <%= project %>
            <ul>
              <% project.impacts.each do |impact| %>
                <li>
                  <%= impact %>

                  <ul>
                    <% impact.skills.each do |skill| %>
                      <li><%= skill %></li>
                    <% end %>

                    <% if show_new_skill_form_for?(impact.id, impact.class.name.downcase) %>
                      <li><%= render partial: 'profile/skills/form' %></li>
                    <% else %>
                      <li><%= link_to 'New skill', profile_employments_path(target_id: impact.id, target_type: impact.class.name.downcase, new: 'skill') %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>

              <% if show_new_impact_form_for?(project.id, project.class.name.downcase) %>
                <li>
                  <%= render \
                    partial: 'profile/impacts/form',
                    locals: { target: current_user.projects.detect { |e| e.id.to_s == params[:target_id] }}
                  %>
                </li>
              <% else %>
                <li><%= link_to 'New impact', profile_employments_path(target_id: project.id, target_type: project.class.name.downcase, new: 'impact') %></li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% if show_new_project_form_for?(employment.id, employment.class.name.downcase) %>
          <li><%= render partial: 'profile/projects/form' %></li>
        <% else %>
          <li><%= link_to 'New project', profile_employments_path(target_id: employment.id, target_type: employment.class.name.downcase, new: 'project') %></li>
        <% end %>
      </ul>
      <ul>
        <% employment.impacts.each do |impact| %>
          <li>
            <%= impact %>

            <ul>
              <% impact.skills.each do |skill| %>
                <li><%= skill %></li>

                <% if show_new_skill_form_for?(impact.id, impact.class.name.downcase) %>
                  <li><%= render partial: 'profile/skills/form' %></li>
                <% else %>
                  <li><%= link_to 'New skill', profile_employments_path(target_id: impact.id, target_type: impact.class.name.downcase, new: 'skill') %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% if show_new_impact_form_for?(employment.id, employment.class.name.downcase) %>
          <li>
              <%= render \
                partial: 'profile/impacts/form',
                locals: { target: current_user.employments.detect { |e| e.id.to_s == params[:target_id] }}
              %>
            </li>
        <% else %>
          <li><%= link_to 'New impact', profile_employments_path(target_id: employment.id, target_type: employment.class.name.downcase, new: 'impact') %></li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <% if show_new_employment_form? %>
    <li><%= render partial: 'form' %></li>
  <% else %>
    <li><%= link_to 'New employment', profile_employments_path(target: nil, new: 'employment') %></li>
  <% end %>
</ul>