<%= link_to profile_edit_profile_picture_and_name_path,
            class: 'profile-details profile-picture-and-name container-editable' do %>
  <%= image_tag current_user.profile.profile_picture.url(:small), class: 'profile-picture' %>
  <h1 class="name"><%= current_user.profile.full_name %></h1>
  <span class="edit button primary large right">Edit</span>
<% end %>

<h2>General information</h2>
<%= link_to profile_edit_location_nationality_and_age_path, class: 'profile-details general-information container-editable no-results' do %>
  <% if current_user.profile.general_information_added? %>
    <%= current_user.profile.birth_date %>
    <%= current_user.profile.country %>
    <%= current_user.profile.city %>
    <%= current_user.profile.nationality %>
  <% else %>
    <span class="message">No general information</span>
    <span class="hint">Click to edit</span>
  <% end %>

  <span class="edit button primary large right">Edit</span>
<% end %>

<h2>IT skills</h2>
<div class="profile-details it-skills container no-results">
  <span class="message">No IT skills</span>
  <span class="hint">Update your experience and this will be generated automatically</span>
</div>

<h2>Language skills</h2>
<div class="profile-details language-skills container no-results">
  <span class="message">No language skills</span>
  <span class="hint">Update your experience experience and this will be generated automatically</span>
</div>

<h2>Education</h2>
<%= link_to '', class: 'profile-details experience container-editable no-results' do %>
  <span class="message">No education</span>
  <span class="hint">Click to edit</span>
  <span class="edit button primary large right">Edit</span>
<% end %>

<h2>Work experience</h2>
<%= link_to profile_employments_path, class: 'profile-details experience container-editable no-results' do %>
  <span class="message">No work experience</span>
  <span class="hint">Click to edit</span>
  <span class="edit button primary large right">Edit</span>
<% end %>

<h2>Interests</h2>
<%= link_to profile_interests_path, class: 'profile-details interests container-editable no-results' do %>
  <% if current_user.profile.interests.any? %>
    <%= current_user.profile.interests.map(&:name).join(', ') %>
  <% else %>
    <span class="message">No interests</span>
    <span class="hint">Click to edit</span>
  <% end %>

  <span class="edit button primary large right">Edit</span>
<% end %>

<h2>Contacts</h2>
<%= link_to profile_contacts_path, class: 'profile-details contacts container-editable no-results' do %>
  <% if current_user.profile.contacts.any? %>
    <%= current_user.profile.contacts.map(&:address).join(', ') %>
  <% else %>
    <span class="message">No contacts</span>
    <span class="hint">Click to edit</span>
  <% end %>

  <span class="edit button primary large right">Edit</span>
<% end %>