<div class="container">
  <h1>Edit education</h1>

  <div>
    <ul>
      <% @profile.studies.each do |study| %>
        <li><%= "#{study.program} in &quot;#{study.university.name}&quot; from #{study.from_date} to #{study.to_date}".html_safe %>
          <ul>
            <% study.courses.each do |course| %>
              <li><%= "Taken course in #{course.name} from #{course.from_date} to #{course.to_date}".html_safe %></li>
            <% end %>
            <li>
              <% if show_new_course_form_for?(study.id) %>
                <%= render :partial => 'courses/form' %>
              <% else %>
                <%= link_to 'Add new course taken', profile_educations_path(current_user.profile.id, :new => 'course', :target => study.id) %>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
      <li>
        <% if show_new_university_form? %>
          <%= render :partial => 'studies/form' %>
        <% else %>
          <%= link_to 'Add new study', profile_educations_path(current_user.profile.id, :new => 'study') %>
        <% end %>
      </li>
    </ul>
  </div>

  <%= link_to 'Done', edit_profile_path(current_user), class: 'button primary' %>
</div>