<h3>Add new study</h3>

<%= form_for Study.new, url: profile_studies_path do |f| %>

  <%= f.fields_for :university do |uf| %>
    <%= uf.label      :name, 'University name' %>
    <%= uf.text_field :name %>

    <%= uf.label      :website, 'University website' %>
    <%= uf.text_field :website %>
  <% end %>

  <br/><br/>

  <%= f.label :program, 'Academic program' %>
  <%= f.text_field :program %>

  <%= f.label       :from_date, 'From date' %>
  <%= f.date_select :from_date, order: [:month, :year], :use_month_numbers => true, :discard_day => true,
                    include_blank: true,
                    start_year: Time.now.year, end_year: Time.now.year - 50 %>

  <%= f.label       :to_date, 'To date' %>
  <%= f.date_select :to_date, order: [:month, :year], :use_month_numbers => true, :discard_day => true,
                    include_blank: true,
                    start_year: Time.now.year, end_year: Time.now.year - 50 %>

  <br/><br/>

  <%= f.submit 'Add', class: 'button primary' %>
  <%= link_to 'Cancel', profile_studies_path, class: 'button' %>

<% end %>