<div class="container">
  <h1>Edit interests</h1>

  <% if @interests.any? %>
    <h2>Interests</h2>

    <% @interests.each do |interest| %>
      <div>
        <%= form_for interest, url: profile_interest_path(interest), method: 'delete', html: { class: 'form' } do |f| %>
          <%= interest.name %>
          <%= f.submit 'Delete', class: 'button small' %>
        <% end %>
      </div>
    <% end %>
  <% end %>


  <h2>Add new interest</h2>
  <%= form_for @interest, url: profile_interests_path, html: { class: 'form' } do |f| %>
    <div class="group">
      <%= f.label      :name, 'Interest', class: 'label' %>
      <%= f.text_field :name, class: 'input' %>
      <%= error_messages_for(@interest, :name) %>
    </div>

    <%= f.submit 'Add interest', class: 'button primary' %>
  <% end %>

  <br/>

  <%= link_to 'Done', profile_edit_path, class: 'button' %>
</div>