<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  <head>
    <title>Theitskillboard</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div data-module="container">
      <header data-module="container">
        <%= link_to '', root_path, data: { module: 'logo' } %>

        <nav>
          <ul>
            <li><%= link_to 'Preview profile', profile_preview_path %></li>
            <li><%= link_to 'Edit profile', profile_edit_path %></li>
            <li><%= link_to 'Create account', new_user_path %></li>
            <% if logged_in? %>
              <li><%= link_to 'Sign out', session_path(current_user), :method => :delete %></li>
            <% end %>
          </ul>
        </nav>

        <%= yield :header %>
      </header>
      <section data-module="container">
        <%= yield %>
      </section>
      <footer data-module="container">
        The IT skill board

        <%= yield :footer %>
      </footer>
    </div>
  </body>

</html>