<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  <head>
    <title>Theitskillboard</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="wrapper wrapper-application">

      <%# ####################### HEADER ####################### %>
      <header class="header header-application">
        <%= link_to '', root_path, class: 'logo logo-applicaiton-main' %>

        <nav class="navigation navigation-user not-authenticated">
          <ul>
            <% if logged_in? %>
              <li><%= profile_link %></li>
              <li><%= link_to 'Sign out', session_path(current_user), :method => :delete, class: 'button small' %></li>
            <% else %>
              <li><%= link_to 'Create account', new_user_path, class: 'button primary small' %></li>
              <li><%= link_to 'Sign in', new_session_path, class: 'button small' %></li>
            <% end %>
          </ul>
        </nav>

        <%= yield :header %>
      </header>

      <%# #######################  FLASH  ###################### %>
      <%= render_flash_messages %>

      <%# #######################  BODY  ####################### %>
      <div class="body body-application">
        <%= yield %>
      </div>

      <%# ####################### FOOTER ####################### %>
      <footer class="footer footer-application">
        The IT skill board
        <%= yield :footer %>
      </footer>

    </div>
  </body>

</html>